<html>

<head>
    <title> To Controller </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <link href="/assets/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

</head>

<body>

    
    <div class="navbar">
        <a class="navbar-brand" href="#">Employee</a>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </div>
    

    {{{ body }}}
</body>

</html>